*,
*::after,
*::before{
  box-sizing: border-box;
}

@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular.woff') format('woff');
    src: url('fonts/Formular.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'Formular';
}

.black_zone{
  width: calc(100vw/8);
  background-color: #111111;
  padding-left: 20px;
  padding-top: 50px;
  height: 100vh;
  position: fixed;
}

h1{
  font-size: 40px;
}

.white_zone{
  margin-left: calc(100vw/8);
  padding-left: 20px;
  padding-top: 40px;

}

.row{
  margin-top: 60px;
  display: flex;
  align-items: center;
  position: relative;
 }

.pic_before{
  width: calc(100vw/4);
}

.arrow{
  width: calc(100vw/8);
  font-size: 30px;
  margin: 20px;
}

/* Пришлось делать абсолютное позиционирование ему и ссылке на статью, т.к. нужно было, чтобы див заливался серым по высоте родителя, а высота родителя не определена, и только вот таким способом получилось без js */
.after{
  width: calc(100vw/4);
  background-color: #c4c4c4;
  position: absolute;
  margin-left: calc(100%/7*3);
  top: 0;
  bottom: 0;
  }

.after:hover{
  background: url(assets/1_redesign.png);
  max-width: calc(100vw/4);
}

.article_url{
  position: absolute;
  margin-left: calc(100%/7*5 + 20px);
}

img{
  max-width: 100%;
}

.why{
  margin-top: 20px;
}

.big_pic{
  width: 50%;
  margin: 20px;
}

.pereverstka_number{
  margin-left: 20px;
  margin-top: 40px;
}