*,
*::after,
*::before{
  box-sizing: border-box;
}

@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular.woff') format('woff');
    src: url('fonts/Formular.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'Formular';
}

.black_zone{
  width: calc(100vw/8);
  background-color: #111111;
  padding-left: 20px;
  /* padding-top: 50px; */
  padding-top: calc(100vw/32);
  height: 100vh;
  position: fixed;
  display: flex;
}

.tags{
  /* margin-top: 130px; */
  margin-top: calc(100vw/8);
  margin-right: 20px;
  position: absolute;
}

.tag{
  background-color: white;
  /* padding: 8px; */
  padding: calc(100vw/118);
  /* font-size: 14px; */
  font-size: calc(100vw/68);
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  /* border-radius: 14px; */
  border-radius: calc(100vw/68);
  border: white;
  text-decoration: none;
  color: black;
}

.tag:hover{
  background-color: #111111;
  border: 1px solid white;
  color: #37F218;
}

.tag.no{
  opacity: 0;
}

h1{
  /* font-size: 40px; */
  font-size: calc(100vw/32);
  padding-top: calc(100vw/32);
}

.white_zone{
  margin-left: calc(100vw/8);
  padding-left: 20px;
  /* padding-top: 40px; */

}

.row{
  /* margin-top: 60px; */
  margin-top: calc(100vw/16);
  display: flex;
  align-items: center;
  position: relative;
 }

.pic_before{
  width: calc(100vw/4);
}

.arrow{
  width: calc(100vw/8);
  font-size: calc(100vw/45);
  position: absolute;
  margin-left: calc(100%/7*2 + 20px);
 }

/* Пришлось делать абсолютное позиционирование ему и ссылке на статью, т.к. нужно было, чтобы див заливался серым по высоте родителя, а высота родителя не определена, и только вот таким способом получилось без js */
.after{
  width: calc(100vw/4);
  background-color: #c4c4c4;
  position: absolute;
  margin-left: calc(100%/7*3);
  top: 0;
  bottom: 0;
  }

.after:hover{
  background: url(assets/1_redesign.png);
  background-size: cover;
  background-position: center;
}

.article_url{
  position: absolute;
  margin-left: calc(100%/7*5 + 20px);
}

.article_url_text:hover{
  color: #37F218;
}

.article_url_text{
  color: black;
}

img{
  max-width: 100%;
}

.why{
  margin-top: 10px;
  margin-right: 20px;
}

.why_qst{
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
 }

 /* чтобы чекбокс не было видно */
 .why input{
   display: none;
 }

 /* чтобы ответ не было видно при пассивном чекбоксе */
 .why_answer{
   display: none;
   font-size: 16px;
   line-height: 18px;
 }

 /* когда чекбокс нажат, класс с ответом становится виден */
 .why input:checked ~ .why_answer{
   display: block;
 }  

.footer{
  height: 50px;
  background-color: white;
}

.supported{
  font-size: 12px;
  margin-top: 140px;
}

 .big_pic{
  width: 50%;
  margin: 20px;
}

.pereverstka_number{
  margin-left: 20px;
  margin-top: 40px;
}

.caption{
  margin-bottom: 20px;
}

.contain{
  cursor: pointer;
}

/* В состоянии по умолчанию меню не показывается */
.menu {
  display: none;
}

/* В состоянии open меню показывается. open переключается джавой */
.menu.open {
  display: block;
  /* margin-top: 110px; */
  margin-top: calc(100vw/10);
 }

.navbar{
  color: white;
  text-decoration: none;
  font-size: calc(100vw/60);
}

.nav li{
  margin-bottom: calc(100vw/60);
}

/* .navbar:hover{
  color: #37F218;
} */

.burger {
  /* width: 30px; */
  width: calc(100vw/30);
  /* height: 24px; */
  height: calc(100vw/40);
  display: flex;
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.burger span,
.burger:before,
.burger:after {
  display: block;
  height: 3px;
  background-color: white;
  width: 100%;
  margin: auto;
  transition: .25s ease-in-out;
}

/* Вот тут не очень понятно, почему без контента полоски не видны, надо про контент почитать */
.burger:before,
.burger:after {
  position: absolute;
  top: 0;
  content: '';
  transform-origin: 50% 50%;
}

.burger:before {
  top: calc(100% - 3px);
}

.burger.active span {
  opacity: 0;
}

.burger.active:after {
  transform: rotate(-45deg);
  top: 9px;
}

.burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}